
/*----------------
  Header css  */
header h1 a{
  color: #FFF;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  display: flex;
  padding-top: 10px;
  letter-spacing: 3px;
  text-align:center;
  flex-direction: column;
  /*Somehow justify center vertically fml */
  justify-content: center;
}

header h1 a:hover{
  color: #FFF;
  font-family: 'Lobster', cursive;
  font-size: 2em;
  display: flex;
  padding-top: 10px;
  letter-spacing: 3px;
  text-align:center;
  flex-direction: column;
  /*Somehow justify center vertically fml */
  justify-content: center;
  text-decoration: none;
}

header{
  padding-top: 20px;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
}

.header-fixed {
  background: #1A2980;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px 0px 20px 0px;
  height: 100px;
}



/*----------------
  Landing css */
#sign-up {
    width: 100%;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

#sign-up p {
  color: #FFF;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 20px;
}

#sign-up .landing-text{
    height:5%;
    display:flex;
    top:50px;
    left: 0;
    right: 0;
    position: absolute;
    text-align:center;
    flex-direction: column;
    font-size: 1.5em;
    /*Somehow justify center vertically fml */
    justify-content: center;
    transition: 1.5s;
}

#sign-up .title{
  font-family: Helvetica, sans-serif;
  font-size: 4em;
  color: #FFF;
  text-align: center;
}

#sign-up .form-div{
    border-radius: 5px;
    background-color: #e2e0e0;
    margin-top: 80px;
    display:flex;
    top:50px;
    left: 0;
    right: 0;
    flex-direction: column;
    /*Somehow justify center vertically fml */
    justify-content: center;
    transition: 1.5s;
}

#sign-up .form-div p{
  font-size: 1.2em;
}

#sign-up .form-div #form-sign-up label{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #4c4c4c;
}

input{
  width:100%;
}

#sign-up .form-div p{
  color: black;
}

#sign-up .confirm{
  background-color: lightgreen;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign-up #confirm-div{
  margin-top: 5em;
}

#sign-up .error{
  background-color: lightcoral;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign-up #error-div{
  margin-top: 5em;
}