


/*----------------
  Landing css */

#landing p {
  color: #FFF;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 20px;
}

#landing .landing-text{
    height:50%;
    display:flex;
    top:25%;
    left: 0;
    right: 0;
    position: absolute;
    text-align:center;
    flex-direction: column;
    /*Somehow justify center vertically fml */
    justify-content: center;
    transition: 1.5s;
}

#landing .title{
  font-family: Helvetica, sans-serif;
  font-size: 4em;
  color: #FFF;
  text-align: center;
}

#landing .btn-sign-up{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#landing h2{
  color:#FFF;
}
