@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
    background: #1A2980;
    background: -webkit-linear-gradient(to left, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #666666;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
  }

a {
    color: #1dc8cd;
}
  
a:hover, a:active, a:focus {
    color: #1dc9ce;
    outline: none;
    text-decoration: none;
}
  
p {
    padding: 0;
    margin: 0 0 30px 0;
}

#header #menu{
  animation-duration: 0.8s;
}





/*----------------
  Landing css */
#landing {
    width: 100%;
    height: 100vh;
    position: relative;
}

#dash-colocataires p {
  color: #FFF;
  font-size: 20px;
}

#landing .landing-text{
    height:calc(50%);
    display:flex;
    top:75px;
    left: 0;
    right: 0;
    position: relative;
    text-align:center;
    flex-direction: column;
    /*Somehow justify center vertically fml */
    justify-content: center;
    transition: 1.5s;
}

#landing .title{
  font-family: Helvetica, sans-serif;
  font-size: 3em;
  color: #FFF;
  text-align: center;
}

#landing .btn-sign-up{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

/*-----------------
Dashboard CSS*/
#dash-colocataires .dash-avatar{
  border: 2px solid white;
  border-radius: 50%;
  width: 80px;
  vertical-align: middle;
  align-content: center;
}

#dash-colocataires{
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.name-avatar{
  text-align: center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.hidden{
    display:none;
}

/*=================
Dashboard event CSS*/
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.box-event{
    margin: 5% auto;
    background-color: #f2f3eb;
    height:50vh;
    border-radius: 10px;
    -webkit-box-shadow: -10px 13px 39px 1px rgba(0,0,0,0.59);
    -moz-box-shadow: -10px 13px 39px 1px rgba(0,0,0,0.59);
    box-shadow: -10px 13px 39px 1px rgba(0,0,0,0.59);
    overflow:auto;
}

.box-title{
    margin-top:10px;
    text-align:center;
    color:#202020;
    font-weight:500;
    font-family: "Open Sans", sans-serif;
}

.avatar-event{
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 50%;
  width: 60px;
  vertical-align: middle;
  align-content: center;
}

.text-event{
  color:black;
  margin-top:18px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size:0.9em;
}

.text-event-refund{
  color:black;
  margin-top:10px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size:0.9em;
}

.span-event{
  vertical-align: middle;
  display: inline-block;
  margin-top:9px;
  font-size: 1.5em;
  margin-right:5px;
}

.positive{
  color:green;
}

.negative{
  color:red;
}

.dash-event{
  padding:0 !important;
}

.dash-event-avatar{
  padding-left: 15px !important;
}

.full-height{
  position: absolute;
  right: 35%;
  top: 50%;
  z-index: 996;
  background-color: #1de71df5;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}

.bubble-disclaimer{
  width: 60px;
  vertical-align: middle;
  align-content: center;
  margin: 0 auto;
}